<h1>Lista de productos</h1>

<div class="products">
    {{#each products}}
        <div class="product-card">
            <h3>{{this.title}}</h3>
            <p>Categoría: {{this.category}}</p>
            <p>Precio: ${{this.price}}</p>

            <a href="/products/{{this._id}}">
            Ver detalle
            </a>

            <button onclick="addToCart('{{this._id}}')">
                Agregar al carrito
            </button>
        </div>
        {{/each}}
</div>
<hr>
<div class="pagination">
    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}">⬅ Anterior</a>
        {{/if}}

        <span>Página {{page}} de {{totalPages}}</span>

        {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}">Siguiente ➡</a>
        {{/if}}
</div>

<script>
    async function addToCart(productId) {
        const cartId = "ID_DEL_CARRITO";

        await fetch(`/api/carts/${cartId}/products/${productId}`, {
            method: "POST"
        });
        alert("Producto agregado al carrito");
    }
</script>